{{#contentFor "styles"}}
<link rel="stylesheet" href="/stylesheet/profile_tickets_admin.css">
{{/contentFor}}

<main>
    <div id="createTickets" class="window">
        <h1 id="heading_tickets">Izveidot biļetes:</h1>
        <div class="input-block">
            <label for="Event">Pasākums:</label>
            <select id="Event">
                <option value="ev1">pasākums1</option>
                <option value="ev2">pasākums2</option>
                <option value="ev3">pasākums3</option>
                <option value="ev4">pasākums4</option>
                <option value="ev5">pasākums5</option>
            </select>
        </div>
        <div class="input-block">
            <label for="cena">Cena:</label>
            <input type="number" id="price" placeholder="0.00" min="0" step="0.01">
        </div>

        <div class="input-block">
            <label for="skaits">Skaits:</label>
            <input type="number" id="quantity" placeholder="0" min="0" step="1">
        </div>

        <div class="input-block two-columns">
            <div>
                <label for="datums">Pasākuma norises laiks:</label>
                <input type="date" id="datums" placeholder="Datums">
            </div>
            <div>
                <label for="laiks">plkst.:</label>
                <input type="time" id="laiks" placeholder="Laiks">
            </div>
        </div>

        <div class="input-block two-columns">
            <div>
                <label for="datums">Pārdošanā no:</label>
                <input type="date" id="datums" placeholder="Datums">
            </div>
            <div>
                <label for="laiks">plkst.:</label>
                <input type="time" id="laiks" placeholder="Laiks">
            </div>
        </div>
        <div class="button-container">
            <a class="btn" id="recall_create_tickets" href=".">Atcelt</a>
            <a class="btn" id="create_tickets" onclick="alert('Nepabeigta funckija')">Izveidot</a>
        </div>
    </div>
</main>

<script src="javascript/index.js"></script>