<!DOCTYPE html>
<html>

<head>
    <title>Biletes 24/7</title>
    <link rel='stylesheet' href='/stylesheet/style.css' />
</head>

<body>
    <header>
        <h3>Biletes 24/7</h3>
        <div>
            <a href="/events">Pasākumi</a>
            <a href="/users">Profils</a>
        </div>
        <div>Jānis Bērziņš | <a href="/logout">Iziet</a></div>
    </header>
    {{{body}}}
</body>

</html>