<!DOCTYPE html>
<html>

<head>
    <title>Biletes 24/7</title>
    <link rel='stylesheet' href='/stylesheet/style.css' />
</head>

<body>
    <header>
        <h3>Biletes 24/7</h3>
        <div>
            <a href="/events">PasÄkumi</a>
            <a href="/profile">Profils</a>
        </div>
        
        {{#if name}}
        <div><div>{{name}} | <a href="/logout">Iziet</a></div></div>
        {{else}}
        <div><div><a href="/login">Ieiet</a></div></div>
        {{/if}}
    </header>
    {{{body}}}
</body>

</html>