<!DOCTYPE html>
<html>

<head>
    <title>Biletes 24/7</title>
    <link rel='stylesheet' href='/stylesheet/style.css' />
    <style>
        form {
            display: flex;
            min-height: 100vh;
        }

        fieldset {
            display: inline-block;
            margin: auto;
        }
    </style>
</head>

<body>
    <form action="login" method="post">
        <fieldset>
            <legend>Autorizacija</legend>
            <input type="email" name="email" placeholder="E-pasts"><br>
            <input type="password" name="password" placeholder="Parole"><br>
            <input type="submit" value="Autorizēties">
        </fieldset>
    </form>
</body>

</html>